/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    background-color:rgb(205, 166, 205) ;
                    }          



.my-title{
    color: seagreen;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card{
    background-color:white ;
    
}