/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    background-color:rgb(203, 182, 60) ;
}          



.my-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    color: black;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card{
    background-color:white ;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
}

.my-container{
    width: 1000px;
    margin: 3rem auto;

}

.my-container h2{
    width: 50%;
    margin:0 auto;
}

.my-container form{
    width: 50%;
    margin: 0 auto;
}

.my-container form > div{
    margin-bottom: 1rem;
}

.my-container label{
    display: block;
    margin-bottom: 0.5rem;
}

.my-container button{
    display: block;
}